@model SMS.Domain.Entities.Student

<h2>Student Details</h2>

<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Program:</strong> @Model.Program</p>
<p><strong>Age:</strong> @Model.Age</p>
<p><strong>Semester:</strong> @Model.Semester</p>
<p><strong>Total Marks:</strong> @Model.TotalMarks</p>

<a asp-action="Index">Back</a>